<div class="container transition reveal">
    <svg width="100%" height="100%" viewBox="0 0 1920 1080" xmlns="http://www.w3.org/2000/svg">
        <image x="0" y="0" width="100%" height="100%" 
               xlink:href="../../assets/svg/msgbox.svg">
        </image>
        <text class="titleTxt" x="350" y="170">MESSAGE DES BOULETS :</text>
        <foreignObject  x="250" y="250" width="1450" height="700" xmlns="http://www.w3.org/1999/xhtml">
            <div class="plain-text msgTxt"  xmlns="http://www.w3.org/1999/xhtml">
                <span class="spanTxt"> 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione aperiam error minus adipisci aut excepturi veritatis, necessitatibus sed aliquam officia repellendus quia et delectus sunt impedit? Totam impedit provident ducimus.Veniam voluptatem molestiae soluta sunt consequatur itaque assumenda iste incidunt porro eum inventore voluptate quam, impedit officiis harum error quod deserunt nihil libero atque. Officia nihil tenetur in id eum.
                </span>
            </div>
        </foreignObject>

        
    </svg>
</div>