@font-face {
    font-family: digit;
    src: url('../../assets/font/Digit.TTF');
}

.digital {
    display: inline-block;
    font-family: 'digit';
    font-size: 10em;
    color: #00F9C9;

}
.wrap {
    position:absolute;
    height: 100vh;
    width: 100vw;
}

.cdContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    text-align: center;
    z-index: 5;

}

.container {
    display: flex;
    position:absolute;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 6;
    transform: scale(1);
    transition: 2s ease-in-out;
}

.vid {
    width: 100%;
}

.c-video {
    width: 90%;
    .button {
        position: absolute;
        width: 288px;
        height: 288px;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        cursor: pointer;
        svg {
            fill :#00F9C9;
        }

        &:hover {
            svg {
                fill : rgba(0,249,201, 0.50)
            }
        }
    }
}

.disapear {
    transform: scale(0);

}