@font-face {
    font-family: digit;
    src: url('../../assets/font/Digit.TTF');
}

.digital {
    display: inline-block;
    font-family: 'digit';
    font-size: 10em;
    color: #00F9C9;

}

.cdContainer {
    margin-top: 50vh;
    transform: translateY(-50%);
    text-align: center;
    z-index: 5;

}

#smoke {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}